:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf5ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
}

.title,
.password-display {
    margin: 0;
    text-align: center;
    margin-bottom: 1.75rem;
}

label {
    font-weight: 700;
}

.character-amount-container {
    display: flex;
    align-items: center;
}

.number-input {
    width: 4rem;
}

.password-display {
    background-color: white;
    color: black;
    padding: 2.5rem;
    border: 1px solid #333;
    height: 2.6rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 0.8rem;
}

.btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    background-color: #e3f0ff;
}